<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/sidebar.css">

</head>
<body>
    <%- include("../partials/sidebar.ejs") %>
    <%- include("../partials/header.ejs") %>

    <main class="main-content">
        <h1>Dashboard</h1>
        <p>Welcome to dashboard page.</p>
    </main>

</body>
</html>